@media (max-width: 1200px)
    .container
        max-width: 960px
    .slider
        width: 590px
@media (max-width: 992px)
    .container
        max-width: 760px
    .hotel
        &-grid
            flex-direction: column
        &__slider
            margin-bottom: 30px
        &-right
            flex-direction: row
    .slider
        width: 100%
        &__image
            width: 100%
            object-fit: cover
    .booking, .map
        width: 340px
        height: 210px
@media (max-width: 768px)
    .logo
        &__image
            height: 18px
            width: 133px
    .container
        max-width: 700px
        &_sm
            max-width: 673px
    .search
        &__input
            width: 340px
    .navbar
        &-top
            padding-top: 30px
            padding-bottom: 30px
        &-menu
            padding-top: 22px
            padding-bottom: 22px
            &__link
                font-size: 12px
@media (max-width: 740px)
    .slider
        height: 350px
    .hotel
        &-right
            flex-direction: column
            min-height: 450px
    .booking
        width: 100%
    .map
        width: 100%

@media (max-width: 700px)
    .container
        max-width: 576px
    .navbar
        &-menu,.search,.user
            display: none
    .menu
        &-button
            display: flex
            padding: 0
            width: 16px
            height: 11px
            align-items: center
            justify-content: space-between
            flex-direction: column
            border: none
            background-color: #fff
            cursor: pointer
            &__btn-line
                width: 16px
                height: 1px
                background-color: $color
    .hotel
        padding-top: 0
        &-name
            flex-basis: 100%
        &-wrapper
            justify-content: space-between
        &-info
            &__rating
                display: none
            &__offer
                order: -1
                margin-left: 0
            &__text
                width: 100%
            &__description
                max-width: 280px
            &__name
                margin-top: 10px
    .stars
        flex-basis: auto
@media (max-width: 480px)
    .logo
        &__image
            width: 99px
    .slider
        height: 179px
    .hotel
        &__slider
            margin-bottom: 20px
        &-right
            min-height: 410px
    .map
        height: 174px
